.main{
    width:80vw;


}

.balance-div{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tot-balance{
    font-size: 5rem;
}

.participate-btn{
    background-color: blue;
    color:white;
    font-size: 1rem;
    padding:20px;
    border-radius: 100px;
}